/* Estilos Gerais */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
  background-color: #000; /* Fundo preto */
  color: #fdfdfd; /* Texto branco */
  overflow-x: hidden;
}

/* Estilos do Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8); /* Fundo do cabeçalho */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.3s;
}

.nav {
  display: none;
  justify-content: flex-start; /* Alinhar o menu à esquerda */
  width: 100%;
}

.nav.active {
  display: flex;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #e65454;
}

/* Estilos responsivos para Menu Toggle e Nav */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  .nav ul {
    flex-direction: column;
  }
  .nav ul li {
    margin: 10px 0;
  }
}

/* Estilos do Container de Vídeo */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Ocupa toda a altura da viewport */
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 50%; /* Centralizar verticalmente */
  left: 50%; /* Centralizar horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar para centralização */
  text-align: center;
  color: #b47d7d;
  max-width: 300px; /* Limitar a largura do texto */
}

.video-overlay h1 {
  color: #ffffff;
  font-size: 2.5rem; /* Ajustar o tamanho da fonte conforme necessário */
  margin-bottom: 10px;
  text-align: center; /* Centralizar texto */
}

.video-overlay p {
  color: #f7f7f7;
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Estilos de Conteúdo */
.content {
  text-align: center;
  padding: 50px;
}

/* Seção "Home" */
section#home {
  padding: 50px 0; /* Espaçamento vertical */
  background-color: #000; /* Fundo escuro */
  color: #f5f5f5; /* Texto claro */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos de Conteúdo */
.content {
  display: flex; /* Usar Flexbox para layout lado a lado */
  align-items: center; /* Alinhar itens verticalmente no centro */
  justify-content: space-between; /* Espaçar itens uniformemente */
  width: 80%; /* Garantir que o contêiner ocupe 80% da largura */
  margin: 0 auto; /* Centralizar o contêiner */
  flex-wrap: wrap; /* Permitir que itens quebrem para a próxima linha se necessário */
}

/* Estilos do Carrossel */
.carousel {
  position: relative;
  width: 100%;
  max-width: 700px; /* Aumentar a largura máxima */
  margin: 0 auto; /* Centralizar o carrossel */
  overflow: hidden; /* Ocultar imagens fora da área visível */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.carousel img {
  width: 100%; /* Ajustar a largura da imagem */
  height: 400px; /* Aumentar a altura */
  object-fit: contain; /* Garantir que as imagens se ajustem ao espaço sem cortar */
  display: none; /* Esconder todas as imagens inicialmente */
  transition: opacity 0.5s ease-in-out; /* Transição suave */
  background-color: #000; /* Fundo preto para evitar espaços vazios */
}

.carousel img.active {
  display: block; /* Mostrar a imagem ativa */
  opacity: 1; /* Tornar a imagem visível */
}

/* Estilos do Texto */
.text-content {
  flex: 1; /* Fazer o texto ocupar 1 unidade de espaço flexível */
  padding: 20px; /* Adicionar espaçamento interno */
  text-align: center; /* Centralizar o texto */
}

.text-content h1 {
  font-size: 2em; /* Tamanho da fonte do título */
  margin-bottom: 20px; /* Espaço inferior do título */
}

.text-content p {
  font-size: 1.2em; /* Tamanho da fonte do parágrafo */
  margin-bottom: 20px; /* Espaço inferior do parágrafo */
}

/* Estilos da Imagem */
.image-container {
  flex: 0 0 250px; /* Aumentar a largura fixa */
  margin-right: 20px; /* Espaçamento direito da imagem */
}

.image-container img {
  width: 100%; /* Garantir que a imagem ocupe 100% da largura do contêiner */
  height: auto; /* Manter a proporção da imagem */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilos do Botão */
.cta-btn2 {
  display: inline-block;
  padding: 12px 30px;
  background-color: #f8f8f8;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(4, 0, 255, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta-btn2:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 26, 255, 0.6);
}

/* Centralizar o contêiner do botão */
.cta-btn2-container {
  display: flex;
  justify-content: center; /* Centralizar horizontalmente */
  width: 100%; /* Garantir que o contêiner ocupe toda a largura */
  margin-top: 20px; /* Adicionar margem superior para espaçamento */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Empilhar os itens verticalmente */
    align-items: center; /* Centralizar itens no eixo vertical */
  }

  .carousel img {
    width: 100%; /* Ajustar a largura da imagem para 100% */
    height: 300px; /* Ajustar a altura da imagem */
  }

  .text-content {
    padding: 10px; /* Reduzir padding em telas menores */
    text-align: center; /* Centralizar texto */
  }
}

@media (max-width: 480px) {
  .content {
    flex-direction: column; /* Empilhar os itens verticalmente */
    align-items: center; /* Centralizar itens no eixo vertical */
  }

  .image-container {
    order: 2; /* Definir a ordem das imagens */
  }

  .text-content {
    order: 1; /* Definir a ordem do texto */
    width: 100%; /* Ajustar a largura do texto */
    padding: 10px; /* Reduzir padding em telas menores */
    text-align: center; /* Centralizar texto */
  }

  .carousel {
    order: 3; /* Certificar que o carrossel fica depois do texto */
  }

  .carousel img {
    width: 100%; /* Ajustar a largura da imagem para 100% */
    height: 300px; /* Ajustar a altura da imagem */
  }

  .text-content h1 {
    font-size: 1.5em; /* Reduzir tamanho da fonte do título */
  }

  .text-content p {
    font-size: 1em; /* Reduzir tamanho da fonte do parágrafo */
  }

  .cta-btn2-container {
    order: 4; /* Definir a ordem do contêiner do botão */
    width: 100%; /* Largura total */
    display: flex; /* Usar Flexbox */
    justify-content: center; /* Centralizar botão */
    margin-top: 20px; /* Adicionar margem superior para espaçamento */
  }

  .cta-btn2 {
    width: auto; /* Ajustar a largura do botão */
  }
}

section#obras {
  padding: 30px 0; /* Reduzir o espaçamento vertical */
  background-color: #000; /* Fundo escuro elegante */
  color: #fff; /* Texto branco */
  text-align: center; /* Centralizar texto */
}

.fobras {
  width: 90%; /* Reduzir a largura do contêiner para 90% */
  max-width: 1200px; /* Definir uma largura máxima */
  margin: 0 auto; /* Centralizar o contêiner */
  padding: 0; /* Remover padding */
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Garantir que o contêiner ocupe 100% da largura disponível */
}

.static-image {
  flex: 0 0 100%; /* Garantir que cada imagem ocupe 100% do container */
  height: auto; /* Manter a proporção da imagem */
  object-fit: cover; /* Garantir que as imagens se ajustem corretamente */
  border-radius: 8px; /* Bordas arredondadas */
  margin: 0 auto; /* Centralizar a imagem dentro do contêiner */
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  z-index: 10; /* Garantir que os botões estejam acima das imagens */
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilo Geral */
#sobre {
  padding: 60px 20px; /* Espaçamento interno */
  background: #000; /* Fundo para garantir contraste */
  font-family: "Arial", sans-serif; /* Fonte limpa */
}

/* Container Principal */
.content1 {
  position: relative; /* Necessário para posicionamento absoluto dos elementos internos */
  width: 100%;
  max-width: 1200px;
  height: 450px; /* Altura da seção */
  margin: 20px auto;

  border-radius: 16px; /* Bordas arredondadas */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); /* Sombra moderna */
}

.content1 img {
  position: absolute; /* Para que a imagem preencha o container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha o container sem distorcer */
  z-index: 1; /* Define a camada da imagem */
}

/* Overlay com Texto */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Fica acima da imagem */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
  color: #fff; /* Texto branco */
  padding: 20px;
}

.overlay h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffcc00; /* Destaque dourado */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.overlay p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #ddd;
}

/* Botão Primário */
.btn-primary {
  display: inline-block;
  padding: 12px 30px;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(255, 204, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(255, 204, 0, 0.6);
}

/* Responsividade */
@media (max-width: 768px) {
  .content1 {
    height: 300px;
  }

  .overlay h2 {
    font-size: 2rem;
  }

  .overlay p {
    font-size: 0.9rem;
  }

  .btn-primary {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .content1 {
    height: 250px;
  }

  .overlay h2 {
    font-size: 1.5rem;
  }

  .overlay p {
    font-size: 0.8rem;
  }
}

/* Estilos para a seção #informacoes */
#informacoes {
  padding: 50px 0; /* Espaçamento vertical */
  background-color: #000; /* Fundo escuro diferenciado */
  color: #fff; /* Cor do texto */
  text-align: center; /* Centralizar texto */
}

#informacoes .container1-informacoes {
  width: 80%; /* Garantir que o contêiner ocupe 80% da largura */
  margin: 0 auto; /* Centralizar o contêiner */
}

#informacoes h2 {
  font-size: 2.5em; /* Tamanho da fonte do título */
  margin-bottom: 20px; /* Espaço inferior do título */
}

#informacoes p {
  font-size: 1.2em; /* Tamanho da fonte do texto */
  margin-bottom: 40px; /* Espaço inferior do texto */
}

#informacoes .cta-btn2-container {
  display: flex; /* Usar Flexbox */
  justify-content: center; /* Centralizar o botão */
  margin-top: 20px; /* Adicionar margem superior para espaçamento */
}

#informacoes .cta-btn2 {
  display: inline-block;
  padding: 12px 30px;
  background-color: #ffcc00;
  color: #000; /* Cor do texto */
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(255, 204, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#informacoes .cta-btn2:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(255, 204, 0, 0.6);
}

#contato {
  padding: 50px 0; /* Espaçamento vertical */
  background-color: #000000; /* Fundo escuro */
  color: #fcfcfc; /* Cor do texto */
}

#contato .content {
  display: flex; /* Usar Flexbox */
  align-items: center; /* Alinhar itens verticalmente no centro */
  justify-content: space-between; /* Espaçar itens uniformemente */
  width: 80%; /* Garantir que o contêiner ocupe 80% da largura */
  margin: 0 auto; /* Centralizar o contêiner */
}

#contato .text {
  flex: 1; /* Fazer o texto ocupar 1 unidade de espaço flexível */
  display: flex; /* Usar Flexbox */
  flex-direction: column; /* Direção da coluna */
  justify-content: center; /* Centralizar verticalmente */
  margin-right: 20px; /* Adicionar margem à direita para afastar do contêiner das imagens */
}

#contato .text h2 {
  font-size: 2em; /* Tamanho da fonte do título */
  margin-bottom: 20px; /* Espaço inferior do título */
  text-align: left; /* Alinhar texto à esquerda */
}

#contato .text p {
  font-size: 1.2em; /* Tamanho da fonte dos parágrafos */
  margin-bottom: 10px; /* Espaço inferior dos parágrafos */
  text-align: left; /* Alinhar texto à esquerda */
}

#contato .social-media {
  display: flex; /* Usar Flexbox */
  gap: 10px; /* Espaçamento entre ícones */
  margin-left: 20px; /* Adicionar margem à esquerda para alinhamento */
  align-items: center; /* Alinhar itens verticalmente no centro */
}

#contato .social-icon img {
  width: 40px; /* Largura dos ícones */
  height: 40px; /* Altura dos ícones */
  transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
}

#contato .social-icon img:hover {
  transform: scale(1.1); /* Aumentar ícone ao passar o mouse */
}

#contato .image {
  flex: 1; /* Fazer a imagem ocupar 1 unidade de espaço flexível */
  text-align: center; /* Centralizar a imagem */
}

#contato .image img {
  max-width: 50%; /* Garantir que a imagem ocupe 50% da largura */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  #contato .content {
    flex-direction: column; /* Empilhar os itens verticalmente */
    align-items: center; /* Centralizar itens no eixo vertical */
  }

  #contato .text {
    text-align: center; /* Centralizar texto em telas menores */
  }

  #contato .image {
    margin-top: 20px; /* Adicionar margem superior à imagem */
  }
}

.whatsapp-float {
  position: fixed; /* Fixo na tela */
  bottom: 20px; /* Distância da borda inferior */
  right: 20px; /* Distância da borda direita */
  z-index: 100; /* Garantir que fique acima de outros elementos */
  width: 60px; /* Largura do ícone */
  height: 60px; /* Altura do ícone */
  display: flex; /* Flexbox */
  align-items: center; /* Alinhar itens verticalmente no centro */
  justify-content: center; /* Centralizar itens horizontalmente */
  background-color: #80b19288; /* Cor de fundo do WhatsApp */
  border-radius: 50%; /* Forma circular */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  transition: transform 0.3s ease; /* Transição suave */
}

.whatsapp-float img {
  width: 30px; /* Ajustar a largura do ícone */
  height: 30px; /* Ajustar a altura do ícone */
}

.whatsapp-float:hover {
  transform: scale(1.1); /* Aumentar o ícone ao passar o mouse */
}

/* Estilos do Rodapé */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
}
